*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
}

ol, ul {
	list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}