//BODY
$body-padding : 0px 15px;
$border-radius: 20px;
$section-margin-bottom: 50px;



//NAV
$navbar-width: 265px;

//COLORS
$white : #fff;
$light-pink: #ff5959;
$main-color:#4a63e7;







//lightMode
$body-bg: #f6f7ff;
$section-bg: #fff;
$light-profile-img-bg: #eee;

//nightMode
$body-dark-bg: #121212;
$section-dark-bg: #1f1f1f;
$dark-profile-img-bg: #2f2f2f;


