@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}



@mixin fontSelector($font-family, $font-name, $font-weight) {
    @font-face {
        font-family: $font-family;
        src: url("../fonts/#{$font-name}-#{$font-weight}.ttf");
    }
}