////////GENERALS
@include fontSelector(vazir-bold, Vazir, 'Bold');

@include fontSelector(vazir-light, Vazir, 'Light');


@include fontSelector(IRANSans-Medium, IRANSans, 'Medium');

@include fontSelector(IRANSans-UltraLight, IRANSans, 'UltraLight');




body {
    //padding: $body-padding;
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100vw;
}



html[data-theme="night"] {
    .site-wrapper {
        background: $body-dark-bg;
    }

    section {
        background: $section-dark-bg;
    }

    header {
        background-color: $section-dark-bg !important;
        border-color: #3c3c3c;
    }

    #banner {
        background: $section-dark-bg;
    }

    .list-title,
    .title-line,
    .hello,
    .skill-title,
    .text {
        color: $white !important;
    }

    .list-content {
        color: #e4e4e4 !important;
    }


    #nav-overlay {
        background: #000;
    }

    nav {
        background: $section-dark-bg;
    }

    .skill {
        .skill-title {
            color: $white !important;
        }

        .header .progress-digit {
            color: #f0f0f0 !important;
        }

        .progress-bar-wrapper {
            background: #545454;
        }
    }

    .service {
        border-color: #3c3c3c;

        .service-title {
            color: $white;
        }

        .service-desc {
            color: #f0f0f0;
        }
    }




}





////////////////MAIN SKELETON
.site-wrapper {
    display: flex;
    width: fit-content;
    position: relative;
    background: $body-bg;
    min-height: 100vh;
    //height: 500vh;
    transition: transform 0.3s ease-in-out;
    position: relative;

    &[data-open="true"] {
        transform: translateX(0px);
    }

    z-index: 1;
}

#content {
    width: calc(100vw - 30px);
    margin: 0px 15px;
    //background: red;
}

////////////////MAIN SKELETON ENDED
.title-line {
    position: relative;
    font-family: vazir-bold;
    font-size: 24px;
    margin-bottom: 48px;
    margin-right: 12px;

    &::before {
        position: absolute;
        content: "";
        height: 60%;
        width: 4px;
        right: -12px;
        background: #ff5959;
        top: 50%;
        transform: translateY(-50%);
    }
}

.title {
    position: relative;
    color: $white;
    font-family: vazir-bold;
    font-size: 18px;

    &::after {
        position: absolute;
        bottom: 6px;
        content: "";
        background-color: $light-pink;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
        height: 6px;
        width: 6px;
    }
}

.subtitle {
    font-size: 14px !important;
    color: #fff;
    font-family: IRANSans-UltraLight;
    line-height: 1.9em;
    margin-bottom: 24px;
}



.text {
    font-family: IRANSans-UltraLight;
    line-height: 1.5em;
    font-size: 14px;
}


.cta-wrapper {
    display: flex;
    align-items: center;

    .btn:first-child {
        margin-right: 0px;
    }

    .btn {
        margin-right: 8px;
    }
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 18px;
    color: #fff;
    font-size: 14px;
    font-family: IRANSans-Medium;

    &.btn-rounded {
        @include border-radius(100px);
    }

    &.btn-primary {
        border: 2px solid transparent;
        background: $light-pink;
    }

    &.btn-secondary {
        border: 2px solid $white;
    }


    &.btn-bg-color {
        background: $main-color;
    }

}


section {
    padding: 65px 40px 60px;
    margin: 15px 0px;
    @include border-radius($border-radius);
    background: $section-bg;
}





