html,
body {
    overflow-x: hidden;
    background: #eee;
    min-height: 100vh;
    width: 100vw;
}

body {
    padding: $body-padding;
}


@include fontSelector(vazir-bold, Vazir, 'Bold');

@include fontSelector(vazir-thin, Vazir, 'Thin');

@include fontSelector(vazir-light, Vazir, 'Light');




@include fontSelector(IRANSans-Light, IRANSans, 'Light');

@include fontSelector(IRANSans-Medium, IRANSans, 'Medium');

@include fontSelector(IRANSans-Bold, IRANSans, 'Bold');








.site-wrapper{
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out;
    &[data-open="true"]{
        transform: translateX(-($navbar-width + 25px));
    }
}