#banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $main-color;
    height: 476px;
    img{
        position: absolute;
        top: 0px;
        right: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.2;
    }
    @media (min-width: 992px) {
        height: 510px;
    }

    .title {
        font-size: 36px;

        &::after {
            bottom: 30px;
            content: "";
            margin-right: 6px;
        }
    }

    .subtitle {
        visibility: hidden;
        opacity: 0;

        &[data-animate='true'] {
            animation: fadeIn 0.3s linear forwards;
            animation-delay: 1.3s
        }
    }


    .cta-wrapper {
        visibility: hidden;
        opacity: 0;


        &[data-animate='true'] {
            animation: fadeIn 0.3s linear forwards;
            animation-delay:  1.5s
        }
    }


    #svg-name {

        width: 236px;
        stroke-dasharray: 650;
        stroke-dashoffset: 650;
        //animation: fadeInBanner 2.5s ease-in forwards;
        fill: none;
        stroke: white;
        stroke-width: 2px;
        /*            animation-fill-mode: forwards*/


        &[data-animate='true'] {
            animation: fadeInBanner 1.7s ease-in forwards;
        }
    }


}
