#about-me{
    background: $white;
    padding: 65px 40px 60px;
    display: flex;
    flex-direction: column;
    
    
    .profile-img{
        @include profile-img(150px);
        margin-bottom: 12px;
    }
    
    
    .hello{
        font-family: vazir-bold;
        font-size: 24px;
        margin-bottom: 8px;
    }
    
}