* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
  text-align: right;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

@keyframes fadeInBanner {
  to {
    stroke-dashoffset: 0;
    stroke-width: 0px;
    fill: white;
  }
}
@keyframes fadeIn {
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fadeIn {
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 0.3s ease-in forwards;
}

@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold.ttf");
}
@font-face {
  font-family: vazir-light;
  src: url("../fonts/Vazir-Light.ttf");
}
@font-face {
  font-family: IRANSans-Medium;
  src: url("../fonts/IRANSans-Medium.ttf");
}
@font-face {
  font-family: IRANSans-UltraLight;
  src: url("../fonts/IRANSans-UltraLight.ttf");
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
  width: 100vw;
}
@media (min-width: 992px) {
  body {
    background: #f6f7ff;
  }
}

html[data-theme=night] .site-wrapper {
  background: #121212;
}
html[data-theme=night] section {
  background: #1f1f1f;
}
html[data-theme=night] header {
  background-color: #1f1f1f !important;
  border-color: #3c3c3c;
}
html[data-theme=night] #banner {
  background: #1f1f1f;
}
html[data-theme=night] .list-title,
html[data-theme=night] .title-line,
html[data-theme=night] .hello,
html[data-theme=night] .skill-title,
html[data-theme=night] .text {
  color: #fff !important;
}
html[data-theme=night] .list-content {
  color: #e4e4e4 !important;
}
html[data-theme=night] #nav-overlay {
  background: #000;
}
html[data-theme=night] nav {
  background: #1f1f1f;
}
html[data-theme=night] .skill .skill-title {
  color: #fff !important;
}
html[data-theme=night] .skill .header .progress-digit {
  color: #f0f0f0 !important;
}
html[data-theme=night] .skill .progress-bar-wrapper {
  background: #545454;
}
html[data-theme=night] .service {
  border-color: #3c3c3c;
}
html[data-theme=night] .service .service-title {
  color: #fff;
}
html[data-theme=night] .service .service-desc {
  color: #f0f0f0;
}
html[data-theme=night] #contact-us .contact-info .each-info .info li:last-child {
  color: #b9b9b9;
}
html[data-theme=night] each-info .info li:first-child, #contact-us .info-form-wrapper .contact-info html[data-theme=night] .each-info .info li:first-child,
html[data-theme=night] #contact-us .contact-info .each-info .info li:first-child {
  color: #e8e8e8;
}
html[data-theme=night] .contact-from .input {
  border-color: #3c3c3c !important;
  background: transparent;
}
html[data-theme=night] .contact-from .input::placeholder {
  color: #cccccc !important;
}

.site-wrapper {
  display: flex;
  width: fit-content;
  position: relative;
  background: #f6f7ff;
  min-height: 100vh;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}
.site-wrapper[data-open=true] {
  transform: translateX(0px);
}
@media (min-width: 992px) {
  .site-wrapper {
    justify-content: flex-end;
    width: 1140px;
    margin: 0 auto;
  }
}

#content {
  width: calc(100vw - 30px);
  margin: 0px 15px;
}
@media (min-width: 992px) {
  #content {
    width: calc(1140px - 265px + 15px);
  }
}

.title-line {
  position: relative;
  font-family: vazir-bold;
  font-size: 24px;
  margin-bottom: 48px;
  margin-right: 12px;
}
.title-line::before {
  position: absolute;
  content: "";
  height: 60%;
  width: 4px;
  right: -12px;
  background: #ff5959;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  position: relative;
  color: #fff;
  font-family: vazir-bold;
  font-size: 18px;
}
.title::after {
  position: absolute;
  bottom: 6px;
  content: "";
  background-color: #ff5959;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  height: 6px;
  width: 6px;
}

.subtitle {
  font-size: 14px !important;
  color: #fff;
  font-family: IRANSans-UltraLight;
  line-height: 1.9em;
  margin-bottom: 24px;
}

.text {
  font-family: IRANSans-UltraLight;
  line-height: 1.5em;
  font-size: 14px;
}

.cta-wrapper {
  display: flex;
  align-items: center;
}
.cta-wrapper .btn:first-child {
  margin-right: 0px;
}
.cta-wrapper .btn {
  margin-right: 8px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 18px;
  color: #fff;
  font-size: 14px;
  font-family: IRANSans-Medium;
  text-align: center;
}
.btn.btn-rounded {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.btn.btn-primary {
  border: 2px solid transparent;
  background: #ff5959;
}
.btn.btn-secondary {
  border: 2px solid #fff;
}
.btn.btn-bg-color {
  background: #4a63e7;
}

section {
  padding: 65px 40px 60px;
  margin: 15px 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background: #fff;
}

color-mode, nav-container .nav-color-mode, nav .container .nav-color-mode, header-content .header-color-mode, header .content .header-color-mode {
  position: relative;
  height: 16px;
  width: 16px;
}
color-mode svg, nav-container .nav-color-mode svg, nav .container .nav-color-mode svg, header-content .header-color-mode svg, header .content .header-color-mode svg {
  position: absolute;
  top: 0px;
  right: 0px;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  width: 16px;
  fill: #fff;
}
color-mode svg.activate, nav-container .nav-color-mode svg.activate, nav .container .nav-color-mode svg.activate, header-content .header-color-mode svg.activate, header .content .header-color-mode svg.activate {
  visibility: hidden;
  opacity: 0;
}

header {
  position: sticky;
  top: 10px;
  display: inline-block;
  width: 100%;
  background-color: #4a63e7;
  margin-top: 15px;
  padding: 22px;
  border: 3px solid #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  z-index: 2;
  z-index: 2;
}
@media (min-width: 992px) {
  header {
    display: none;
  }
}

header-content, header .content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
header-content .icon-link, header .content .icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
header-content svg, header .content svg {
  width: 30px;
}
header-content #menu-btn, header .content #menu-btn {
  margin-left: 12px;
  margin-left: 16px;
  width: 32px;
}
header-content #menu-btn rect, header .content #menu-btn rect {
  fill: #fff;
  transition: all 0.3s;
}
header-content #menu-btn[data-open=true] rect:nth-child(1), header .content #menu-btn[data-open=true] rect:nth-child(1) {
  transform: matrix(-0.707107, 0.707107, 0.707107, 0.707107, 17.6777, 0);
}
header-content #menu-btn[data-open=true] rect:nth-child(2), header .content #menu-btn[data-open=true] rect:nth-child(2) {
  display: none;
}
header-content #menu-btn[data-open=true] rect:nth-child(3), header .content #menu-btn[data-open=true] rect:nth-child(3) {
  transform: matrix(-0.707107, -0.707107, -0.707107, 0.707107, 20.5061, 17.6777);
}
header-content .profile-img, header .content .profile-img {
  width: 40px;
  height: 40px;
  background: #ff5959;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  margin-left: 12px;
}
header-content .flex-end, header .content .flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 75px;
  margin-right: auto;
}
header-content .flex-end .profile-phone, header .content .flex-end .profile-phone {
  margin-right: 16px;
}
header-content .flex-end svg, header .content .flex-end svg {
  fill: #fff;
}

#nav-overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 1;
  opacity: 0.9;
  visibility: visible;
  transition: all 0.3s linear;
}
#nav-overlay[data-open=false] {
  visibility: hidden;
}

nav {
  position: fixed;
  display: inline-block;
  color: #fff;
  background: #4a63e7;
  max-height: 590px;
  height: 510px;
  top: 106px;
  right: 0px;
  width: 265px;
  right: 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin-right: 15px;
  z-index: 2;
  transform: translateX(280px);
  transition: all 0.3s ease-in-out;
}
nav[data-open=true] {
  transform: translateX(0);
}
@media (min-width: 992px) {
  nav {
    position: sticky;
    transform: translateX(0);
    top: 15px;
  }
}
nav-container, nav .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
nav-container .nav-color-mode, nav .container .nav-color-mode {
  position: absolute;
  top: 15px;
  left: 15px;
}
nav-container .title, nav .container .title {
  font-size: 20px;
  margin-right: 30px;
  margin-bottom: 0.1rem;
}
nav-container .profile-img, nav .container .profile-img {
  width: 70px;
  height: 70px;
  background: #ff5959;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  margin-left: 12px;
  margin-bottom: 16px;
  margin-right: 30px;
  margin-top: 30px;
}
nav-container .profile-role, nav .container .profile-role {
  font-size: 12px;
  font-family: IRANSans-UltraLight;
  margin-right: 30px;
}
nav-container .main-menu, nav .container .main-menu {
  margin: 40px 0px;
  max-height: 255px;
  overflow-y: scroll;
  padding-right: 30px;
}
@media (min-width: 992px) {
  nav-container .main-menu, nav .container .main-menu {
    overflow-y: hidden;
  }
}
nav-container .main-menu li, nav .container .main-menu li {
  position: relative;
}
nav-container .main-menu li.active::before, nav .container .main-menu li.active::before {
  content: "";
  position: absolute;
  top: -26px;
  right: -30px;
  height: 18px;
  width: 3px;
  background: #ff5959;
}
nav-container .main-menu li a, nav .container .main-menu li a {
  font-family: IRANSans-Medium;
  color: #fff;
  height: 36px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
nav-container .main-menu li a svg, nav .container .main-menu li a svg {
  width: 16px;
  margin-left: 12px;
}
nav-container .main-menu li a svg path, nav .container .main-menu li a svg path {
  fill: #fff;
}
nav-container .socials, nav .container .socials {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: 30px; */
  justify-content: center;
}
nav-container .socials .social, nav .container .socials .social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ff5959;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  margin-left: 8px;
}
nav-container .footer, nav .container .footer {
  font-family: sans-serif;
  font-size: 0.75rem;
  text-align: center;
  margin-top: auto;
  position: absolute;
  bottom: 15px;
  margin: 0 auto;
  width: 100%;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #4a63e7;
  height: 476px;
}
@media (min-width: 992px) {
  #banner {
    height: 510px;
  }
}
#banner .title {
  font-size: 36px;
}
#banner .title::after {
  bottom: 30px;
  content: "";
  margin-right: 6px;
}
#banner .subtitle {
  visibility: hidden;
  opacity: 0;
}
#banner .subtitle[data-animate=true] {
  animation: fadeIn 0.3s linear forwards;
  animation-delay: 1.3s;
}
#banner .cta-wrapper {
  visibility: hidden;
  opacity: 0;
}
#banner .cta-wrapper[data-animate=true] {
  animation: fadeIn 0.3s linear forwards;
  animation-delay: 1.5s;
}
#banner #svg-name {
  width: 236px;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  fill: none;
  stroke: white;
  stroke-width: 2px;
  /*            animation-fill-mode: forwards*/
}
#banner #svg-name[data-animate=true] {
  animation: fadeInBanner 1.7s ease-in forwards;
}

#about-me {
  padding: 65px 40px 60px;
  visibility: hidden;
  opacity: 0;
}
#about-me[data-animate=true] {
  animation: fadeIn 0.5s linear forwards;
  animation-delay: 0.2s;
}
#about-me .about-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  #about-me .about-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
#about-me .about-wrapper .profile-img {
  width: 150px;
  height: 150px;
  background: #ff5959;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-bottom: 16px;
  margin-right: 8px;
}
#about-me .about-info-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  #about-me .about-info-wrapper {
    justify-content: flex-end;
    width: 75%;
  }
}
#about-me .hello {
  font-family: vazir-bold;
  font-size: 24px;
  margin-bottom: 12px;
}
#about-me .text {
  margin-bottom: 26px;
}
#about-me .personal-info {
  margin-bottom: 26px;
}
@media (min-width: 992px) {
  #about-me .personal-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
#about-me .personal-info li {
  margin-bottom: 0.5rem;
}
@media (min-width: 992px) {
  #about-me .personal-info li {
    width: 50%;
  }
}
#about-me .personal-info .list-title {
  font-size: 14px;
  font-family: IRANSans-Medium;
}
#about-me .personal-info .list-content {
  font-size: 14px;
  font-family: IRANSans-UltraLight;
}
#about-me .about-btn-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  #about-me .about-btn-wrapper {
    flex-direction: row;
  }
}
#about-me .about-btn-wrapper .btn {
  width: 55%;
  margin-bottom: 0.5rem;
}
@media (min-width: 992px) {
  #about-me .about-btn-wrapper .btn {
    width: 126px;
  }
  #about-me .about-btn-wrapper .btn:first-child {
    margin-left: 8px;
  }
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .skills-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.skill {
  height: 36px;
  text-align: left;
  position: relative;
  height: auto;
  margin-bottom: 2.5rem;
}
@media (min-width: 992px) {
  .skill {
    width: 46%;
  }
}
.skill[data-animate=false] .progress {
  width: 0% !important;
}
.skill .header {
  direction: ltr;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.skill .header .skill-title {
  font-family: vazir-Bold;
}
.skill .header .progress-digit {
  color: #777;
  font-family: vazir-Light;
}
.skill .progress-bar-wrapper {
  position: relative;
  background: #ebebeb;
  height: 3px;
}
.skill .progress-bar-wrapper .progress {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #ff5959;
  transition: all 0.4s cubic-bezier(0.905, -0.6, 0.4, 1.65);
}

.skill:nth-child(1) .progress {
  transition-delay: 0.1s;
}

.skill:nth-child(2) .progress {
  transition-delay: 0.2s;
}

.skill:nth-child(3) .progress {
  transition-delay: 0.3s;
}

.skill:nth-child(4) .progress {
  transition-delay: 0.4s;
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}
@media (min-width: 992px) {
  .services-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.services-wrapper .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 218px;
  padding: 30px;
  border: 3px solid #E5E5E5;
  margin-bottom: 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  .services-wrapper .service {
    width: 48%;
  }
}
.services-wrapper .service[data-animate=true] {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.services-wrapper .service .service-icon {
  width: 42px;
  fill: #ff5959;
}
.services-wrapper .service .service-title {
  font-size: 18px;
  font-family: vazir-Bold;
}
.services-wrapper .service .service-desc {
  text-align: center;
  font-size: 12px;
  font-family: IRANSans-Medium;
}

.service:nth-child(1) {
  transition-delay: 0.1s;
}

.service:nth-child(2) {
  transition-delay: 0.2s;
}

.service:nth-child(3) {
  transition-delay: 0.3s;
}

.service:nth-child(4) {
  transition-delay: 0.4s;
}

#contact-us .info-form-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  #contact-us .info-form-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
#contact-us .info-form-wrapper .contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transition-delay: 0.5s;
}
#contact-us .info-form-wrapper .contact-info[data-animate=true] {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
#contact-us .info-form-wrapper .contact-from {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transition-delay: 1s;
}
@media (min-width: 992px) {
  #contact-us .info-form-wrapper .contact-from {
    width: 65%;
  }
}
#contact-us .info-form-wrapper .contact-from[data-animate=true] {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
#contact-us .info-form-wrapper .contact-from .input {
  border: 2px solid #e3e3e3;
  padding: 10px 24px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin-bottom: 1rem;
}
#contact-us .info-form-wrapper .contact-from .input::placeholder {
  font-family: IRANSans-UltraLight;
  color: #999;
}

each-info, #contact-us .info-form-wrapper .contact-info .each-info {
  display: flex;
  height: 46px;
  margin-bottom: 30px;
}
each-info:last-child, #contact-us .info-form-wrapper .contact-info .each-info:last-child {
  margin-bottom: 0px;
}
each-info .icon, #contact-us .info-form-wrapper .contact-info .each-info .icon {
  fill: #ff5959;
  width: 24px;
}
each-info .info, #contact-us .info-form-wrapper .contact-info .each-info .info {
  margin-right: 16px;
}
each-info .info li:first-child, #contact-us .info-form-wrapper .contact-info .each-info .info li:first-child {
  font-family: vazir-Bold;
  font-size: 16px;
}
each-info .info li:last-child, #contact-us .info-form-wrapper .contact-info .each-info .info li:last-child {
  font-family: IRANSans-Medium;
  font-size: 14px;
  color: #777777;
}

/*# sourceMappingURL=main.css.map */
